html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body::before {
  background: url(/images/bg.png) no-repeat center center fixed;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#photo-container {
  position: absolute;
  height: 400px;
  width: 400px;
  border: 2px black solid;
  border-radius: 5px;
  top: 16%;
  left: 35%;
  right: 35%;
}

div.buttons {
  position: absolute;
  width: 180px;
  height: 100px;
  left: 49%;
  top: 90%;
  transform: translate(-50%, -50%);
}
#going, #not-going {
  position: absolute;
  background-size: cover;
  height: 80px;
  width: 80px;
}
#going {
  left: 5%;
  background-image: url("../images/thumbup.png");
  top: 50%;
  transform: translate(-50%, -50%);
}
#not-going {
  left: 95%;
  background-image: url("../images/thumbdown.png");
  top: 50%;
  transform: translate(-50%, -50%);
}

#photo-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 420px;
  width: 420px;
}
#photo-container img.front {
  z-index: 1;
  background-color: #000000;
}

#photo-container img.back {
  background-color: #aa0000;
}

.freedays{
  position: absolute;
  left: 75%;
  top: 30%;
  transform: translate(-50%, 50%);
}

.title {
  font-family: sans-serif;
  font-size:25px;
  position: absolute;
  left: 49%;
  top: 4%;
  transform: translate(-50%, 50%);
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

.title1{
  font-family: sans-serif;
  font-size:40px;
  position:absolute;
  left:49%;
  top:40%;
  transform: translate(-50%, 50%);
}

.review {
  font-family: sans-serif;
  position: absolute;
  left: 49%;
  top: 75%;
  transform: translate(-50%, 50%);
}
